@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

header{
    background-color: white;
}



.nav-bar{
    justify-content:space-between;
    padding: 1.5rem 35rem;
    display: block;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-list{
    display: block;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: black;
    font-weight: 500;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.title{
    display: none;
}

@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem;
    }

    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: flex;
        position: absolute;
        top: 1.5rem;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .title{
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-family: 'Oswald', sans-serif;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button{
        width: 100%;
    }

    .open{
        display: block;
    }
}