@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

@media screen and (min-width: 751px){
    section{
        width: 40%;
        font-size: 1.3em;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
        text-align: center;
        background-color: #EAEAEA;
    }

    p{
        margin-top: 1em;
        font-family: 'Roboto', sans-serif;
    }

    .titles{
        background-color: black;
        color: white;
        margin: 1em auto;
        width: 41.5%;
    }

    .titles p{
        text-align: center;
        font-size: 2em;
    }

    .frame{
        width: 100%;
        height: 300px;
    }

    form h3{
        text-align: center;
        margin: 15px;
    }

    /* Formulário */

    form{
    display: flex;
    align-items: left;
    flex-direction: column;
    }

    form label{
        margin-top: 1em;
    }

    form input{
        width: 100%;
        height: 35px;
    }

    form textarea{
        width: 100%;
        margin-bottom: 1em;
    }

    form button {
        padding: 15px;
        cursor: pointer;
        font-size: 16px;
    }

    .article2{
        background-color: black;
        color: white;
        font-size: 1.6em;
        padding: 1px 1px;
        text-align: center;
        margin: 0 auto;
        margin-top: 1em;
        width: 40%;
    }

    footer{
        text-align: center;
        font-size: 0.8em;
        background-color: black;
        color: white;
        padding: 15px;
        padding-bottom: 35px;
        margin-top: 1em;
    }

    footer p{
        display: inline-block;
        margin: 1em;
    }

}

/* MOBILE */ 
@media screen and (max-width: 750px){

    section{
        font-size: 0.8em;
        margin: 0em 3em;
        padding: 8px;
        text-align: justify;
        background-color: #EAEAEA;
    }
    
    p{
        margin-top: 1em;
        font-family: 'Roboto', sans-serif;
    }

    .titles{
        background-color: black;
        color: white;
        margin-top: 1em;
        width: 50%;
        padding-left: 2.1em;
    }

    .frame{
        width: 100%;
        height: 300px;
    }

    form h3{
        text-align: center;
        margin: 15px;
    }

    /* Formulário */

    form{
       display: flex;
       align-items: left;
       flex-direction: column;
    }

    form label{
        margin-top: 1em;
    }

    form input{
        width: 100%;
        height: 35px;
    }

    form textarea{
        width: 100%;
        margin-bottom: 1em;
    }

    form button {
        padding: 15px;
        cursor: pointer;
        font-size: 16px;
    }

    .article2{
        background-color: black;
        color: white;
        font-size: 0.8em;
        padding: 8px;
        text-align: center;
        margin: 2em;
    }

    footer{
        text-align: center;
        font-size: 0.8em;
        background-color: black;
        color: white;
        padding: 15px;
        padding-bottom: 35px;
        margin-top: 1em;
    }

    footer p{
        display: inline-block;
        margin: 1em;
    }
}
